<div id="top" class="big-bg">

<div class="top-content">
<h1>こちら推し銭のメインページです</h1>

<p>川崎市には35ヶ所の銭湯があり安い値段で大きな浴室やサウナに入り「ととのう」ことが出来る</p>
<br>
<p>しかしコロナ禍も重なり全国的には銭湯そのものが年々減少傾向にある</p>
<p>そこで日本固有の「銭湯」という素晴らしいカルチャーを後世に残すきっかけとして</p>
<p>お気に入りの銭湯＝推し銭を見つけられるアプリの開発に着手しました</p>
<br>
<p>新規登録を行うとお気に入り機能が使用可能となりいつでも推し銭を思い出せます</p>
<br>
<br>
<h1>使い方</h1>
<p>まずは新規登録を行なってください！</p>
<p>次に銭湯一覧から銭湯の詳細をチェック</p>
<p>市内の区別に検索が可能！！</p>
<br>
<br>
<h1>ログインしたらできること</h1>
<p>マイページができる！</p>
<p>お気に入りの銭湯を登録できる！</p>
</div>
</div>